body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
   font-size: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

nav button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #777;
}

.lego-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

.lego-set img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.video-section {
    margin: 20px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto; 
}